extends ../layout/page-template
  
block head
  title Корпоративным клиентам

block scripts

block stylesheets

block breadcrumbs

block vars
  - var isInner = true; // раскрывать ли подменю в главном меню

block head-scripts

block caption

block inner-content
  section
    .b-corporate-hero(style="background-image: url(assets/img/content/corporate/background.jpg)")
      .b-corporate-hero__title Корпоративным клиентам
      .b-corporate-hero__desc
        | Очень крутые предложения и немного эксключивного бла бла бла специально для вас, уважаемые партнеры!
  
  section.b-section
    p Чтобы сделать заказ для своей компании, положите нужные товары в корзину. На первом этапе оформления заказа, выберите «оформить заказ на юридическое лицо».
    p Или, если хотите, отправьте перечень необходимых товаров на нашу электронную почту corp@ogo1.ru. Пожалуйста, не забудьте указать в письме реквизиты организации, для которой мы оформим счет.
    p Если вы еще не зарегистрировались на нашем сайте, заполните форму - после этого вам не нужно будет каждый раз указывать реквизиты при оформлении заказа.
  
  section.b-corporate-section
    +corporate-regform()