extends ../layout/page-template
  
block head
  title Гарантия и возврат

block scripts

block stylesheets

block breadcrumbs

block vars
  - var isInner = true; // раскрывать ли подменю в главном меню

block head-scripts

block caption

block inner-content
  section
    .b-guarantee-hero(style="background-image: url(assets/img/content/guarantee/background.jpg)")
      .b-guarantee-hero__title Сдали товар по <span class="warning-color">гарантии</span>?
      .b-guarantee-hero__desc
        | Наша компания полностью соблюдает закон о защите прав потребителя. Мы постараемся сделать так, чтобы Вы остались довольны нашим гарантийным обслуживанием.
      .b-guarantee-hero__footer
        a(href="#").button Проверить статус

  section.b-guarantee-section
    .js-accordion
      .b-guarantee-block.js-accordion-item.active
        .b-guarantee-block__title.js-accordion-header Гарантийное обслуживание и возврат неисправных товаров
        .b-guarantee-block__body.js-accordion-body
          p В течение 14 дней со дня покупки, если товар оказался неисправным, Вам необходимо приехать в наш магазин (м.Динамо, м.Коломенская или м.Площадь Ильича) и обратиться в сервисный центр.
          p В случае, если Вы приобретали товар с доставкой, и неисправность в течение 14 дней со дня покупки подтвердилась в нашем сервисном центре, мы вернём Вам деньги за доставку.
          p Просим отнестись с пониманием к тому, что наличие вирусов или неграмотно установленных программ на компьютерах и ноутбуках, неисправностью устройства не является, и проблема может быть устранена нашими специалистами за отдельную плату. Мы рекомендуем приобретать антивирусные и другие программы вместе с оборудованием.
          p После 14 дней со дня покупки неисправного товара, обслуживаемого сервисным центром производителя (ноутбуки, мониторы, принтеры, компьютеры, коммуникаторы, электронные книги и т.д.), Вам необходимо обратиться в соответствующий сервис-центр. В случае, если сервисный центр выдаст Вам заключение о невозможности ремонта Вашего товара, Вы можете вернуть этот товар нам, предъявив это заключение.
          p <strong>Что делать, если Вы находитесь в другом городе?</strong>
          p Если в течение гарантийного срока на товар Вы обнаружили в нем недостатки, Вам необходимо обратиться в ближайший сервисный центр изготовителя товара. В случае отсутствия такового в регионе Вашего проживания, Вам необходимо связаться с нашим отделом гарантии по телефону +7-800-250-90-45 (звонок бесплатный). Отдел гарантии работает ежедневно с 10:00 до 22:00 по московскому времени. Отдельно обращаем Ваше внимание, что любая отправка товара (без каких-либо исключений) в наш адрес должна предварительно согласовываться с отделом гарантии. В противном случае мы не можем гарантировать получение Вашего отправления!
      
      .b-guarantee-block.js-accordion-item.active
        .b-guarantee-block__title.js-accordion-header Гарантия на собранные компьютеры
        .b-guarantee-block__body.js-accordion-body
          h4.warning-color Если Вы заказываете у нас сборку компьютера из комплектующих, вне зависимости от срока гарантии на каждый компонент, мы даём полную гарантию на компьютер — 2 года.
          p Это значит, что на некоторые комплектующие гарантия станет меньше (то есть уменьшится до двух лет), чем если бы Вы покупали их по отдельности, а на некоторые больше (то есть увеличится до двух лет).
          p Мы уверены, что такая формула гарантии более выгодна для клиента, потому что гарантия уменьшается на товары, которые почти никогда не выходят из строя (например, процессоры или память), и увеличивается на компоненты, имеющие механические части, а значит, больший риск выхода из строя (например, блоки питания, вентиляторы или оптические приводы).
      
      .b-guarantee-block.js-accordion-item.active
        .b-guarantee-block__title.js-accordion-header Возврат исправного товара
        .b-guarantee-block__body.js-accordion-body
          p Обратите внимание, что часть товаров, продающихся в нашем магазине, относятся к категории «технически сложных товаров», которые не подлежат безусловному возврату или обмену, если они по каким-то причинам не подошли покупателю и при этом не имеют недостатков.
          p Исходя из здравого смысла, мы готовы пойти Вам навстречу дальше, чем этого требует закон. Во многих случаях, Вы можете вернуть или обменять комплектующие, с которыми у Вас возникла проблема несовместимости.
          p На остальные технически сложные товары услуга возврата исправного товара не распространяется.
          h4.warning-color От того, насколько аккуратно Вы будете обращаться с товаром, его упаковкой и комплектом, зависит вероятность положительного решения о возврате.
          p Просим отнестись с пониманием к тому, что товар, целостность упаковки или комплекта которого нарушена, может быть принят с уценкой.

      .b-guarantee-block.js-accordion-item.active
        .b-guarantee-block__title.js-accordion-header Возврат исправного товара, приобретаемого дистанционно
        .b-guarantee-block__body.js-accordion-body
          p Дистанционным является способ продажи, исключающий возможность непосредственного ознакомления потребителя с товаром либо образцом товара при заключении договора. Покупка товара в наших магазинах и пунктах выдачи не является дистанционной - вы всегда можете непосредственно ознакомиться с товаром после его оплаты и отказаться от покупки в любой момент, до того как покинули территорию магазина, без объяснения причины.
          p В случае приобретения товара дистанционным способом, вы вправе вернуть товар в течении семи дней после его получения. При этом стоимость доставки товара и отправки его обратно не возвращается. Возвращаемый товар не должен быть в употреблении и должен иметь товарный вид. Во избежание недоразумений, перед отправкой нам товара, приобретенного дистанционным способом, рекомендуем самостоятельно убедиться в том, что товар и упаковка не имеют повреждений, позволяющих сделать вывод об утрате товарного вида: возвращаемый товар должен быть в том же виде, в котором был доставлен вам.
          p Ваше заявление на возврат мы рассмотрим максимально быстро, но в очень редких случаях эта процедура может занять до 10 дней. Заявление на возврат рассматривается после получения нами товара. Товар необходимо отправить на адрес нашего гипермаркета: 111033, г.Москва, Золоторожский вал, д.8, сообщив номер отправления по электронной почте sc@ogo1.ru
          p Возврат средств осуществляется тем же способом, каким была оплачена ваша покупка. При оплате банковской картой, средства будут возращены на ту же карту.
          p Если вы оплачивали свой заказ банковской картой, сроки окончательного зачисления средств на карту зависят от платежных систем MC и VISA, а также от вашего банка и могут составлять до 30 дней.
          p Подробную консультацию по возврату товара вы можете получить по телефону +7-800-250-90-45
