.b-corporate {
  &-hero {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    padding: 90px 75px;
    font-family: 'Proxima Nova';
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
      display: block;
      max-width: 50%;
      margin-bottom: 17px;
      color: #1d1d1d;
      font-size: 44px;
      font-weight: 600;
      line-height: 1.15;
    }
    &__desc {
      display: block;
      max-width: 50%;
      margin-bottom: 30px;
      color: #1d1d1d;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.3;
    }
  }
  &-content {
    max-width: 66%;
  }
  &-section {
    padding: 34px;
    &--gray {
      background: #f8f8f8;
      border: 1px solid #f1f1f1;
    }
  }
  &-registration {
    h2 {
      margin: 0 0 17px 0;
    }
    p {
      font-weight: 300;
    }
    fieldset {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 18px;
      margin: 0 0 18px 0;
      padding: 0;
      border: none;
    }
    label {
      display: block;
      font-family: Proxima Nova;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
    }
    @each $type in (text, email, password, number) {
      input[type="#{$type}"] {
        width: 100%;
        &:focus {
          outline: none;
        }
      }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number] {
      -moz-appearance:textfield;
    }
    .b-simple-form__field {
      margin-top: 0;
      margin-bottom: 0;
    }
    .b-simple-form__group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 18px;
    }
    .field {
      position: relative;
      width: 100%;
    }
  }
  @include w1024 {
    &-hero {
      padding: 32px;
      background-position: top right 35%;
    }
    &-content {
      max-width: 100%;
    }
    &-section {
      padding: 24px;
    }
  }
  @include w768 {
    &-hero {
      padding: 24px;
      background-position: top right 35%;
    }
    &-content {
      max-width: 100%;
    }
    &-section {
      padding: 24px;
    }
  }
  @include w480 {
    &-hero {
      padding: 16px;
      background-position: top right 54%;
      &__title {
        max-width: 65%;
        font-size: 20px;
      }
      &__desc {
        max-width: 65%;
      }
    }
    &-section {
      padding: 16px;
    }
  }
}
